@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir-Bold.ttf");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #ecf0f1;
  direction: rtl;
  font-family: "Vazir", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

a:link,
a:visited {
  text-decoration: none;
}
