.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("/assets/images/background.jpg");
  background-color: hsl(6, 63%, 46%);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;

  &__heading {
    margin-top: 5rem;
    color: #eee;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;

    & span {
      display: block;
    }

    &-primary {
      font-size: 2.8rem;
    }
    &-secondary {
      margin-top: 3.5rem;
      font-size: 1.8rem;
    }
  }

  &__btn {
    margin-top: 5rem;
  }
}

.avatar {
  overflow: hidden;
  border: 0.3rem solid #eee;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.btn {
  display: inline-block;
  position: relative;
  background: #ecf0f1;
  border-radius: 0.2rem;
  padding: 1rem 3rem;
  color: #d35400;
  font-size: 1.7rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  transition: all 100ms ease-in;
  z-index: 1;

  &:hover {
    color: #ecf0f1;
    transform: translateY(-3px);
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
  }

  &:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.2rem 50% 50% 0.2rem;
    background-color: #3498db;
    width: 0;
    height: 100%;
    transition: all 100ms ease-in;
    z-index: -1;
  }

  &:hover:before {
    width: 100%;
    border-radius: 0.2rem;
  }
}
